<html>
  <head>
    <body>
      <div>
        <h1 style="color: red">Olá, {{name}}</h1>
        <p>O Admin
          <strong>{{adminName}}</strong>
          te enviou esse invite para fazer parte da empresa
          <strong>{{companyName}}</strong></p>
        <button style="padding: 20px, border-radius: 50px"><a
            href={{link}}
            target="_blank"
          > Aceitar Convite </a></button>
      </div>
    </body>
  </head>
</html>