<html>
  <head>
    <body>
      <div>
        <h1 style="color: red">{{translate "HELLO" language}} {{name}}</h1>
        <p>{{translate "MESSAGE" language}}</p>
        <button style="padding: 20px, border-radius: 50px"><a
            href={{link}}
            target="_blank"
          > Aceitar Convite </a></button>
      </div>
    </body>
  </head>
</html>